.headerLogo {
  height: 8%;
  width: 70%;
  margin: 0;
  padding: 20px 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #d1cdc7;
  border-radius: 0 0 90% 0;
}

.headerLogo svg {
  margin-left: 10px;
  width: 60%;
  height: 100%;
}

.headerLogo svg:hover {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header #settings {
  margin: 20px;
}

header #settings:hover {
  color: lightsteelblue;
  cursor: pointer;
}
